parameters:
	ignoreErrors:
		-
			identifier: staticMethod.dynamicCall
			paths:
				- ../tests/*
	level: max
	paths:
		- ../src
		- ../tests
	tmpDir: ../.cache/phpstan
	type_coverage:
		constant: 100
		declare: 100
		param: 100
		property: 100
		return: 100
